@import url("https://fonts.googleapis.com/css?family=Fredoka+One|Playfair+Display+SC");
html {
  scroll-behavior: smooth;
  offset: 150px; }
  html body header .hero {
    background-image: url("../img/book-computer-design-326424-min.jpg");
    background-attachment: fixed;
    background-size: cover; }
  html body header .hero-body .myTitle {
    background: rgba(0, 0, 0, 0.5);
    margin-left: -10%;
    margin-right: -10%;
    padding: 1.75rem;
    font-family: 'Fredoka One', cursive; }
  html body header .navbar {
    box-shadow: 2px 2px 2px black; }
  html body header .nav-colored {
    transition: .5s;
    background-color: #fff !important; }
  html body header .navbar-item img {
    max-height: 5rem; }
  html body header .navbar-menu .navbar-item {
    position: relative;
    font-size: 1.4rem; }
    html body header .navbar-menu .navbar-item::after {
      position: absolute;
      bottom: 15px;
      left: 0;
      right: 0;
      margin: auto;
      width: 0;
      content: '.';
      color: transparent;
      background: #555;
      height: 1px;
      transition: all .5s; }
    html body header .navbar-menu .navbar-item:hover {
      color: #555; }
      html body header .navbar-menu .navbar-item:hover:after {
        width: 100%; }
  html body header .navbar-menu .navbar-dropdown {
    background: white; }
    html body header .navbar-menu .navbar-dropdown .navbar-item {
      padding: 20px; }
  html body section {
    background: url("../img/background-2850204_1920.jpg");
    background-attachment: fixed;
    background-size: cover; }
    html body section .is-flex {
      justify-content: center;
      align-items: center; }
    html body section p {
      padding-left: 5%;
      padding-right: 5%; }
    html body section .icon.is-large {
      height: 10rem;
      width: 100%;
      padding-bottom: 1rem; }
    html body section .fa-3x {
      font-size: 5rem; }
    html body section .icon.is-medium {
      height: 6rem;
      width: 12%; }
    html body section .fa-2x {
      font-size: 4rem; }
    html body section [class*=" imghvr-"],
    html body section [class^=imghvr-] {
      width: 250px;
      height: 250px;
      display: block;
      margin: auto;
      box-shadow: 2px 2px 2px grey, -2px -2px 2px grey; }
      html body section [class*=" imghvr-"] figcaption,
      html body section [class^=imghvr-] figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; }
        html body section [class*=" imghvr-"] figcaption a,
        html body section [class^=imghvr-] figcaption a {
          display: block;
          width: 100px;
          margin: 65% auto; }
  html body footer .icon {
    margin-left: 10px;
    margin-right: 10px; }
  html body footer .blue {
    color: whitesmoke;
    background-color: #3273dc;
    border-radius: 50%; }
  html body footer .dribbble {
    color: whitesmoke;
    background-color: #ea4c89;
    border-radius: 50%; }
  html body footer .insta {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: whitesmoke;
    border-radius: 50%; }
  html body footer .github {
    color: #211f1f;
    background-color: whitesmoke;
    border-radius: 50%; }

/*# sourceMappingURL=main.css.map */
