html {
    scroll-behavior: smooth;
    offset: 150px;
    body {
        header {
            #shownav {
                position: fixed;
                top: 0;
                height: 60px;
                width: 100%;
            }
            .navbar {
                opacity: 1;
            }
            .navbar.hideme {
                opacity: 0;
            }
            .hero {
                background-image: url('../img/book-computer-design-326424-min.jpg');
                background-attachment: fixed;
                background-size: cover;
            }
            .hero-body {
                .myTitle {
                    background: rgba(0, 0, 0, 0.5);
                    margin-left: -10%;
                    margin-right: -10%;
                    padding: 1.75rem;
                    font-family: 'Playfair Display', sans-serif;
                }
            }
            .navbar {
                box-shadow: 2px 2px 2px black;
            }
            .nav-colored {
                transition: .5s;
                background-color: #fff !important;
            }
            .navbar-item {
                img {
                    max-height: $navbar-item-img-max-height;
                }
            }
            .navbar-menu {
                .navbar-item {
                    position: relative;
                    font-size: 1.4rem;
                    &::after {
                        position: absolute;
                        bottom: 15px;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 0;
                        content: '.';
                        color: transparent;
                        background: #555;
                        height: 1px;
                        transition: all .5s;
                    }
                    &:hover {
                        color: #555;
                        &:after {
                            width: 100%;
                        }
                    }
                }
                .navbar-dropdown {
                    background: rgba(255, 255, 255, 1);
                    .navbar-item {
                        padding: 20px;
                    }
                }
            }
        }
        section {
            background: url('../img/background-2850204_1920.jpg');
            background-attachment: fixed;
            background-size: cover;
            .is-flex {
                justify-content: center;
                align-items: center;
            }
            p {
                padding-left: 5%;
                padding-right: 5%;
            }
            .icon.is-large {
                height: 10rem;
                width: 100%;
                padding-bottom: 1rem;
            }
            .fa-3x {
                font-size: 5rem;
            }
            .icon.is-medium {
                height: 6rem;
                width: 12%;
            }
            .fa-2x {
                font-size: 4rem;
            }
            [class*=" imghvr-"],
            [class^=imghvr-] {
                width: 250px;
                height: 250px;
                display: block;
                margin: auto;
                box-shadow: 2px 2px 2px grey, -2px -2px 2px grey;
                figcaption {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    a {
                        display: block;
                        width: 100px;
                        margin: 65% auto;
                    }
                }
            }
        }
        footer {
            h3 {
                margin-top: 1rem !important;
            }
            padding-bottom: 1rem !important;
            .icon {
                margin-left: 10px;
                margin-right: 10px;
            }
            .blue {
                color: $white-ter;
                background-color: hsl(217, 71%, 53%);
                border-radius: 50%;
                &:hover {
                    background-color: $white-ter;
                    color: hsl(217, 71%, 53%);
                }
            }
            .dribbble {
                color: $white-ter;
                background-color: #ea4c89;
                border-radius: 50%;
                &:hover {
                    background-color: $white-ter;
                    color: #ea4c89;
                }
            }
            .insta {
                @include insta-gradient;
                color: $white-ter;
                border-radius: 50%;
                &:hover {
                    @include insta-gradient;
                    color: transparent;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                }
            }
            .github {
                color: #211f1f;
                background-color: $white-ter;
                border-radius: 50%;
                &:hover {
                    background-color: #211f1f;
                    color: $white-ter;
                    border-radius: 20%;
                }
            }
        }
    }
}