body {
    header {
        .hero {
            background-image: url('../img/book-computer-design-326424-min.jpg');
            background-attachment: fixed;
            background-size: cover;
        }
        .hero-body {
            height: 195vh;
            .myTitle {
                background: rgba(0, 0, 0, 0.5);
                margin-left: -55px;
                margin-right: -55px;
                padding: 1.75rem;
                // font-family: 'Fredoka One', cursive;
            }
        }
        .nav-colored {
            transition: .5s;
            background-color: white !important;
        }
        .navbar-item img {
            max-height: $navbar-item-img-max-height;
        }
    }
}