@media screen and (max-width: 768px) and (min-width: 553px) {
    .image {
        width: 50%;
        display: block;
        margin: auto;
    }
    .timeline {
        display: flex !important;
    }
    .timeline.is-centered {
        display: none !important;
    }
    .icon.is-medium {
        width: 20% !important;
        margin-left: 20px;
    }
}

@media screen and (max-width: 553px) and (min-width: 495px) {
    .image {
        width: 50%;
        display: block;
        margin: auto;
    }
    .timeline {
        display: flex !important;
    }
    .timeline.is-centered {
        display: none !important;
    }
    .icon.is-medium {
        margin-left: 40px;
    }
}

@media screen and (max-width: 495px) {
    .image {
        width: 50%;
        display: block;
        margin: auto;
    }
    .timeline {
        display: flex !important;
    }
    .timeline.is-centered {
        display: none !important;
    }
    .icon.is-medium {
        width: 40% !important;
        margin-left: 20px;
        ;
    }
}